# Data
pandas
numpy

# Database
# sqlite3 is built-in

# EDA

seaborn
plotly

# ML
scikit-learn
xgboost

imbalanced-learn


# Deployment
streamlit

# Config
python-dotenv
pyyaml

pandas
numpy

plotly
seaborn

scikit-learn
xgboost
imbalanced-learn

streamlit

python-dotenv
pyyaml
joblib